In [ ]:
import pandas as pd

data = {
    "Customer_ID": [1, 2, 3, 2, 4],
    "Customer_Name": ["Amit", "Ravi", "Sita", "Ravi", "John"],
    "Region": ["South", "North", "South", "North", "West"],
    "Amount": [5000, 7000, None, 7000, 6500],
    "Date": ["2024-01-02", "2024-01-03", "2024-01-05", "2024-01-03", "2024-01-07"]
}

df = pd.DataFrame(data)
df.to_csv("sales_data.csv", index=False)
df

   Customer_ID Customer_Name Region  Amount        Date
0            1          Amit  South  5000.0  2024-01-02
1            2          Ravi  North  7000.0  2024-01-03
2            3          Sita  South     NaN  2024-01-05
3            2          Ravi  North  7000.0  2024-01-03
4            4          John   West  6500.0  2024-01-07

In [ ]:
df = pd.read_csv("sales_data.csv")
df = df.drop_duplicates()
df['Amount'] = df['Amount'].fillna(0)
df['Date'] = pd.to_datetime(df['Date'])
df.to_csv("cleaned_sales_data.csv", index=False)
df

   Customer_ID Customer_Name Region  Amount       Date
0            1          Amit  South  5000.0 2024-01-02
1            2          Ravi  North  7000.0 2024-01-03
2            3          Sita  South     0.0 2024-01-05
4            4          John   West  6500.0 2024-01-07

In [ ]:
summary = df.groupby('Region')['Amount'].sum().reset_index()
summary.to_csv("summary_report.csv", index=False)
summary

  Region  Amount
0  North  7000.0
1  South  5000.0
2   West  6500.0